/* Default stylesheet for CompetVet Suivi, will be overridden if necessary in theme */

.cvs-breadcrumb, .cvs-breadcrumb a {
    background: black;
    color: white;
}

.competency-namelink {
    font-weight: bolder;
}

.competency-sn {
    color: gray;
    font-weight: bold;
}

.progress-cvs .resultmarker {
    font-size: xx-small !important; /* TODO Adjust this in the graph css directly*/
}


.cvs-summary-chart {
    min-height: 400px;
}

.cvs-summary-chart .fn-label {
    fill: gray;
}

.cvs-summary-chart .labels text {
    font-size: x-small;
}