/* Default stylesheet for CompetVet Suivi, will be overridden if necessary in theme */

.bar-bg-gray {
    fill: #555;
}

.competency-sn-link a, .competency-sn-link {
    font-weight: bolder;
    color: #0A246A;
}

.competency-sn-link a:hover {
    text-decoration: none;
    color: #0e0e0e;
}

.competency-sn {
    color: gray;
    font-weight: bold;
}


.cvs-summary-chart {
    min-height: 400px;
}

.cvs-summary-chart .fn-label {
    fill: gray;
}

.graph-header-title {
    border-bottom: solid 2px lightgrey;
}

/* Bar Styling for macro competencies 0 to 7 */
.macrocomp-0 .progress-cvs .bar-bg {
    fill: #7ed341;
}

.macrocomp-1 .progress-cvs .bar-bg {
    fill: #43e4c4;
}

.macrocomp-2 .progress-cvs .bar-bg {
    fill: #3991de;
}

.macrocomp-3 .progress-cvs .bar-bg {
    fill: #8a18f7;
}

.macrocomp-4 .progress-cvs .bar-bg {
    fill: #e85119;
}

.macrocomp-5 .progress-cvs .bar-bg {
    fill: #faa339;
}

.macrocomp-6 .progress-cvs .bar-bg {
    fill: #c3bf46;
}

.macrocomp-7 .progress-cvs .bar-bg {
    fill: #fce646;
}
