{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
  @local_competvetsuivi

  Will render the graph footer: legend

  Classes required for JS: all the boostrap classes for display

  Data attributes required for JS:

  Context variables required for this template:

  Example context (json):
  {
    "comp_types" : [ 'comp_type_id': numid, 'comp_type_name': fullname ]
  }

  Note: we had to make this compatible with lambda theme, so we added spanXX and row-fluid classes
  too (https://redpithemes.com/Documentation/assets/bs_grid.html)

}}

<div class="row pt-3 pb-3 row-fluid">
    <div class="legend-title col-4 span4">
        {{#str}}legend, local_competvetsuivi{{/str}}
    </div>
    <div class="progress-cvs col-8 span8">
        <div class="row row-fluid">
            {{#comp_types}}
                <div class="col">
                    <div class="d-flex flex-column justify-content-center">
                        <svg width="1.5em" height="1.5em">
                            <g class="comptype-{{comp_type_id}}">
                                <g class="bar-bg-gray">
                                    <circle cx="0.75em" cy="0.75em" r="0.5em"/>
                                </g>
                                <g class="bar">
                                    <circle cx="0.75em" cy="0.75em" r="0.5em"/>
                                </g>
                            </g>
                        </svg>
                        <div>
                            <span>{{comp_type_name}}</span>
                        </div>
                    </div>
                </div>
            {{/comp_types}}
            {{$has_no_milestone}}
                <div class="col">
                    <div class="flex-column justify-content-center">
                        <div>
                            <svg width="1.5em" height="1.5em">
                                <g class="comptype-1">
                                    <g class="marker">
                                        <circle cx="0.75em" cy="0.75em" r="0.5em"/>
                                        <text x="0.75em" y="0.75em" class="marker-text">1</text>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span>{{#str}}milestone, local_competvetsuivi{{/str}}</span>
                        </div>
                    </div>
                </div>
            {{/has_no_milestone}}
            {{#has_self_assessment}}
                <div class="col">
                    <div class="flex-column justify-content-center">
                        <div>
                            <svg width="3em" height="2em">
                                <g class="labelbar" >
                                    <ellipse class="labelbar-bg" cx="1.5em" cy="1em" rx="1em" ry="0.75em" />
                                </g>
                            </svg>
                        </div>
                        <div>
                            <span>{{#str}}selfassessment, local_competvetsuivi{{/str}}</span>
                        </div>
                    </div>
                </div>
            {{/has_self_assessment}}
        </div>
    </div>
</div>