{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
  @local_competvetsuivi

  CompetVetSuivi page template for a single UE showing what the UE contributes
  to the global competency

  Classes required for JS: all the boostrap classes for display

  Data attributes required for JS:

  Context variables required for this template:

  Example context (json):
  {
    "graph_title": the fullname of the current competency,
    "comp_types" : [ 'comp_type_id': numid, 'comp_type_name': fullname ]
    "compvsuegraphdata": graphdata per strand as an array
                        [
                        { } , ...
                        ]

    ]
  }



    Example context (json):
    {
    "comp_fullname": the fullname of the current competency,
    "comp_types" : [ 'comp_type_id': numid, 'comp_type_name': fullname ]
    "breadcrumb": [ {'name': , 'link'}
    "compitems" : [
        {
            "competency_fn": competency fullname,
            "competency_sn": competency shortname,
            "competency_link": competency link to the page,
            "compvsuegraphdata": graphdata per strand as an array
                        [
                        { } , ...
                        ]

        ]
    }


}}




<div>
    {{< local_competvetsuivi/graph_header}}
        {{$has_no_milestone}}{{/has_no_milestone}}
    {{/ local_competvetsuivi/graph_header}}
    {{#compitems}}
        <div class="row mb-1 mt-1">
            <div class="col-sm-4">
                <div class="flex-column">
                    <div class="competency-namelink">
                        {{#competency_link}}
                        <a href="{{competency_link}}">
                        {{/competency_link}}
                        {{competency_fn}}
                        {{#competency_link}}
                        </a>
                        {{/competency_link}}
                    </div>
                    <div class="competency-sn">
                        {{competency_sn}}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                {{#graphdata}}
                    {{> local_competvetsuivi/chart_item }}
                {{/graphdata}}
            </div>
        </div>
    {{/compitems}}
</div>
