{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_competvetsuivi/matrix_list

    This template will render previous uploads for user data from the log

}}

<div>
        <table class="generaltable fullwidth">
            <thead>
            <tr>
                <th scope="col">{{#str}}userdatauploaddate, local_competvetsuivi{{/str}}</th>
                <th scope="col">{{#str}}userdatainsertednb, local_competvetsuivi{{/str}}</th>
                <th scope="col">{{#str}}userdataupdatednb, local_competvetsuivi{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{#userdatalog}}
                <tr>
                    <td>{{#userdate}} {{timecreated}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</td>
                    <td>{{inserted}}</td>
                    <td>{{updated}}</td>
                </tr>
            {{/userdatalog}}
            </tbody>
        </table>
</div>